.popup {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 13%;
}

.container {
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 36px;

    font-family: 'Manrope';
}

.title {
    font-size: 48px;
}

.subTitle {
    font-size: 22px;
}

.link {
    color: #4C2C82;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}

.Button {
    position: static;
    margin-top: 20px;
    background-color: #4C2C82;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 75px;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
}

.products {
    display: flex;
}

.productItem {
    margin-right: 30px;
}

.prodTitle {
    font-size: 20px;
    margin: 0;
}

.price {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.prodHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

.prodCount {
    color: #A6A6A6;
    margin: 5px 0;
}