.eventInfo {
  &__portal {
    position: fixed;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2147483647;
    right: 0;
    width: calc(100vw - 518px);
    background: rgba(76, 44, 130, 0.3);
  }

  &__body {
    background: #FFFFFF;
    border-radius: 21px;
    width: 66%;
    padding: 60px;

    &-title {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 41px;
      color: #6B6868;
      margin-bottom: 40px;
    }

    &-time {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #302E2E;

      &__wrapper {
        display: flex;
        gap: 78px;
      }

      &-cont {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
      }
    }
  }
}