.profile {
    overflow-x: hidden;

    &__pic-top {
        margin-bottom: 16px;
    }

    &__cont {
        padding-left: 47px;
        padding-right: 76px;
    }

    &__user {
        display: flex;
        flex-direction: column;
        gap: 72px;

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(21, 182, 233, 0.15);
            border-radius: 25px;
            padding: 50px 70px;
            margin-bottom: 26px;
        }
    
        &-greetings {
            font-family: 'Alegreya Sans SC';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: #4C2C82;
        }
    
        &-name {
            color: #000000;
        }
    
        &-group {
            font-family: 'Alegreya Sans SC';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
        }
    
        &-balance {
            font-family: 'Alegreya Sans SC';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
            background: #FFFFFF;
            box-shadow: 4px 4px 10px rgba(76, 44, 130, 0.45);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: center;
            padding: 18px 50px 18px 22px;

            &-count {
                font-family: 'Alegreya Sans SC';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                color: #000000;
            }
        }

        &-qr {
            font-family: 'Alegreya Sans SC';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
            display: flex;
            gap: 12px;
            background: #FFFFFF;
            box-shadow: 4px 4px 10px rgba(76, 44, 130, 0.45);
            border-radius: 20px;
            padding: 24px;
        }
    }

    &__attended-meetings {
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 500;
        color: #000000;
        overflow-y: scroll;
        max-height: 400px;

        &__title {
            font-size: 32px;
            line-height: 38px;
            padding-left: 68px;
            margin-bottom: 16px;
        }

        &__table {
            width: 100%;
            border-collapse: collapse; 

            & th {
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
                text-align: left;
                padding-left: 40px;
                padding-bottom: 16px;
            }

            & tbody tr {
                border-top: 1px solid #000000;
            }

            & tbody td {
                padding-left: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 28px;
                line-height: 34px;
            }
        }
    }
    
}