.calendarItemWrapper {
  &__event {
    display: flex;
    gap: 45px;
    margin-bottom: 25px;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &-day {
      display: flex;
      flex-direction: column;
      margin-left: 55px;
      min-width: 50px;
      &-name {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
      }

      &-num {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 55px;
        color: #000000;
      }
    }

    &-event {

    }
  }
}