.wrapper {
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Hero';
    font-size: 24px;
}

.container {
    display: flex;
}

.subBlock {
    margin-left: 20px;
}

.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #302E2E;
}

.price {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #302E2E;
}

.countBlock {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

.countButton {
    cursor: pointer;
}

.garbage {
    cursor: pointer;
}

.size{
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #A6A6A6;
    margin: 0;
    margin-bottom: 20px;
}