.productItem {
    color: #302E2E;
    width: 250px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    padding: 10px;
    min-height: 430px;

    &:hover {
        transform: translateY(-30px);
        box-shadow: 0px 6px 15px rgba(21, 182, 233, 0.45);
        border-radius: 30px;
    }

    &__image{
        border-radius: 20px;
        margin-bottom: auto;
        margin-top: auto;
    }

    &__title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #302E2E;
        text-align: left;
    }

    &__price {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #302E2E;
        margin-bottom: 10px;
        align-self: flex-end;
    }

    &__deactivated {
        opacity: 0.7;
    }
}
.product {
    
}

.product:hover {
    transform: translateY(-30px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.deactivated {
    opacity: 0.7;
}

.product:hover .addButton {
    display: inline-block;
}

.productImg {
    border-radius: 20px;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
    text-align: left;
}

.price {
    margin-bottom: 10px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.addButton {
    display: none;
    position: static;
    background-color: #302E2E;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 14px;
    align-self: flex-start;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
}