.login {
    display: flex;
    padding-left: 163px;
    padding-right: 113px;

    &__halfCont {
        &:first-of-type {
            padding-right: 30px;
        }
    }

    &__title {
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 700;
        font-size: 118px;
        line-height: 142px;
        color: #4C2C82;
        padding-top: 51px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__formTitle {
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #302E2E;
        margin-bottom: 40px;
    }

    &__input {
        width: 49%;
        border: 2px solid #15B6E9;
        border-radius: 9px;
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.07em;
        color: #302E2E;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        margin-bottom: 40px;
    }

    &__button {
        background: #4C2C82;
        border-radius: 5px;
        border: none;
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #FFFFFF;
        padding: 10px 35px;
    }

    &__pic-bottom {
        width: 100%;

        & img {
            width: 100%;
        }
    }
}